[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleak = "*"
numpy = "*"
future = "*"
pyserial = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
